.navbar{ background:#00000;}
.nav-link , .navbar-brand{ color: #F1E3E5; cursor: pointer;}
.nav-link{ margin-right: 1em !important;}
.nav-link:hover{ background: #A77676; color: #E6E4E4; }
.navbar-collapse{ justify-content: flex-end;}
.navbar-toggler{  background:#fff !important;}